{% extends 'base.html' %}
{% block content%}
<h1>{{ title }}</h1>

<p>Добро пожаловать в Onlinetest, {{ user.username }}!</p>

<p>Onlinetest — это современная система онлайн тестирования, созданная специально для поддержки процесса обучения и оценки сотрудников. Наш сервис предлагает удобные инструменты для организации тестов, которые помогут вашим сотрудникам развивать навыки и проверять свои знания.</p>

<p>На нашей платформе вы уже можете получить результаты в следующих тестах:</p>

<ul>
    {% for item in page_obj %}
        <li>{{ item.title }}</li>
    {% endfor %}
</ul>
<p>Onlinetest — это надежный инструмент для оценки и развития ваших сотрудников. Мы стремимся помочь компаниям улучшать уровень знаний и квалификацию своих команд, что, в свою очередь, способствует росту и успеху бизнеса. Присоединяйтесь к нам сегодня и откройте новые возможности для обучения и развития!</p>
{% endblock %}