{% extends 'base.html' %}

{% block breadcrumbs %}
{% with test.tags.all as tags %}
{% if tags %}
<ul class="tags-list">
    <li>Теги:</li>
    {% for t in tags %}
    <li><a href="{{ t.get_absolute_url }}">{{ t.tag }}</a></li>
    {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="test-page">
    <h1 class="test-title">{{ test.title }}</h1>

    <!-- Секция для текста и изображения -->
    <div class="test-description">
        <div class="test-image">
            {% if test.photo %}
            <p><img class="img-article-left" src="{{ test.photo.url }}" alt="{{ test.title }}" /></p>
            {% endif %}
        </div>
        <div class="test-content">
            {{ test.content|linebreaks }}
        </div>
    </div>

    <!-- Секция для вопросов -->
    <div class="test-questions">
        <h2>Вопросы</h2>
        <form id="answers-form" class="answers-form" action="{% url 'submit_answers' test.slug %}" method="post">
            {% csrf_token %}
            {% for question in test.questions.all %}
            <div class="question-item">
                <label class="question-label">{{ question.question_text }}</label>
                <input type="text" name="answers[]" class="form-input" placeholder="Ваш ответ" required />
            </div>
            {% endfor %}
            <button type="submit" class="submit-button">Отправить ответы</button>
        </form>
    </div>
</div>
{% endblock %}